<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="flex fixed min-w-full justify-center items-center gap-20 h-10 max-h-full bg-zinc-900 shadow-lg text-white">
        <h1 class="">PortsInMeals</h1>
        <ul class="flex justify-center items-center gap-6">
            <li id="browser" class="p-0.5 rounded-lg active:bg-slate-400 hover:bg-white hover:text-black"><a href="/">Browse</a></li>
            <li id="Order" class="p-0.5 rounded-lg active:bg-slate-400 hover:bg-white hover:text-black"><a href="/order/">Order</a></li>
            <li id="Contacts" class="p-0.5 rounded-lg active:bg-slate-400 hover:bg-white hover:text-black"><a href="/contacts/">Contacts</a></li>
        </ul>
        <div class="flex gap-4">
            <a href="/signup/" class="p-1 rounded-lg active:bg-slate-400 bg-green-700 hover:text-black">Sign Up</a>
            <a href="/login/" class="p-1 rounded-lg active:bg-slate-400 bg-cyan-700 hover:text-black">Login</a>
        </div>
    </nav>
</br>
</br>
    {% block content %}
    {% endblock %}
</body>
</html>